In [1]:
import csv
import pandas as pd
import numpy as np
import src.Paths as path

import sys
import os

print(os.getcwd())
print(sys.version_info)

C:\Users\Chrisi\Desktop\Studium\BigDataScience\sose17-small-data\python\traffic-prediction
sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

In [2]:
path.trajectories_training_file

'../../../new_dataset/training/trajectories(table 5)_training.csv'

In [3]:
training_files = "../../dataset/training/"
links_file = "links (table 3).csv"
routes_file = "routes (table 4).csv"
trajectories_file = "trajectories(table 5)_training.csv"
volume_file = "volume(table 6)_training.csv"
weather_file = "weather (table 7)_training.csv"

routes_df = pd.read_csv(training_files+routes_file)
links_df = pd.read_csv(training_files+links_file)
weather_df = pd.read_csv(training_files+weather_file)
volume_df = pd.read_csv(training_files+volume_file)

training_files = "../../new_dataset/training/"
trajectories_df = pd.read_csv(training_files+trajectories_file)

In [3]:
routes_df

,intersection_id,tollgate_id,link_seq
0,A,2,"110,123,107,108,120,117"
1,A,3,"110,123,107,108,119,114,118,122"
2,B,1,"105,100,111,103,116,101,121,106,113"
3,B,3,"105,100,111,103,122"
4,C,1,"115,102,109,104,112,111,103,116,101,121,106,113"
5,C,3,"115,102,109,104,112,111,103,122"

In [4]:
df[df.index.duplicated()]